@model int

@using BlogSystem.Web.ViewModels.Comments;

@{
    const string CommentsPartialViewsFolder = "~/Views/Comments/{0}.cshtml";
}

<div>
    @(Ajax.ActionLink("View Comments", "All", new { id = Model, controller = "Comments" },
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            OnSuccess = "hideViewCommentsButton",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "comments"
                        }, new { id = "show-comments-btn", @class = "btn-u" }))
</div>

<section id="comments">
</section>

<hr />

<section id="new-comment" class="hidden">
    @Html.Partial(string.Format(CommentsPartialViewsFolder, "_CreateComment"), new CommentViewModel())
</section>