@model BlogSystem.Web.ViewModels.Comments.CommentViewModel

<div class="post-comment">
    <h3>Leave a Comment</h3>
    @if (User.IsLoggedIn())
    {
        using (Ajax.BeginForm("Create", "Comments", new { id = ViewData["id"].ToString() }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertBefore, UpdateTargetId = "comments", OnFailure = "showCommentRequiredError" }))
        {
            @Html.AntiForgeryToken()
        
            @Html.EditorForModel("Comment")
            <p>
                @Html.BootstrapBubmitButton("Add Comment", htmlAttributes: new { data_disable = "true" })
            </p>
        }
    }
    else
    {
        <p>
            Only registered users can comment.
            @Html.Partial("_PageLoginPartial")
        </p>
    }
</div>