@model IEnumerable<CommentViewModel>

@using BlogSystem.Web.ViewModels.Comments;

<h3>Comments</h3>

@foreach (var comment in Model)
{
    @Html.Partial("_CommentDetail", comment)
}

<script>
    function hideViewCommentsButton() {
        $('#show-comments-btn').hide();
        $('#new-comment').removeClass('hidden');
    }

    function showCommentRequiredError(data) {
        $('<h3 style="color:red">' + data.responseJSON.errorMessage + '</h3>').prependTo('#new-comment').delay(3000).fadeOut();
    }
</script>
