@model BlogSystem.Web.ViewModels.Administration.Pages.PageInputModel

<div class="row">
    <div class="col-lg-8">
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" placeholder="Page title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Content" class="form-label"></label>
            @Html.EditorFor(x => x.Content)
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header"><strong>Publishing</strong></div>
            <div class="card-body">
                <label asp-for="Permalink" class="form-label"></label>
                <div class="input-group">
                    <span class="input-group-text">/Pages/</span>
                    <input asp-for="Permalink" class="form-control" placeholder="my-page" />
                </div>
                <span asp-validation-for="Permalink" class="text-danger"></span>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><strong>SEO</strong></div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="MetaDescription" class="form-label"></label>
                    <textarea asp-for="MetaDescription" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="MetaDescription" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="MetaKeywords" class="form-label"></label>
                    <input asp-for="MetaKeywords" class="form-control" placeholder="keyword1, keyword2" />
                    <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
