body {
    background-image: url('../img/background.jpg') !important;
    background-repeat: no-repeat !important;
    background-color: #000 !important;
    background-position: center top !important;
    background-attachment: fixed !important;
}

.edit-with-tinymce {
    width: 100%;
    height: 500px;
}

.header {
    background-color: black;
}

.copyright {
    background-color: black;
}

.header .navbar-default .navbar-nav > li > a {
    color: #DDDDDD;
}

.topbar ul.loginbar > li > a, .topbar ul.loginbar > li > a:hover {
    color: #AAAAAA !important;
}

.navbar-collapse {
    margin-bottom: 5px;
    text-align: right;
}

.topbar {
    margin-right: 10px;
    margin-top: 0;
}

.navbar-header {
    height: 80px;
    margin: 0;
}

.navbar-brand {
    margin: 0;
}

.blog-photos li i {
    opacity: 0.6;
    width: 58px;
    height: 54px;
    font-size: 52px;
    margin: 0 2px 8px;
    color: black;
    text-align: center;
}

.blog-photos li i:hover {
    opacity: 1;
    box-shadow: 0 0 0 2px #72c02c;
}

.posts .dl-horizontal dt i {
    width: 60px;
    height: 60px;
    padding-top: 4px;
    border: solid 1px #ddd;
    font-size: 52px;
    text-align: center;
}

.hidden {
    display: none;
}


.copyright p {
    font-size: 13px;
}

.video-list-item {
    height: 260px;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-list-item h2 {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
}

/*Blog Large
------------------------------------*/
/*Blog Page*/
.blog h2 {
    color: #555;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 10px;
}

.blog h2 a {
    color: #585f69;
    line-height: 32px;
}

.blog h2 a:hover {
    color: #72c02c;
    text-decoration: none;
}

.blog .blog-img {
    margin: 20px 0;
}

.headline-md {
    margin-top: 9px;
}

/*Blog Content Tags*/
.blog-post-tags {
    padding: 5px 0 8px;
    margin-bottom: 10px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.blog-post-tags ul {
    margin-bottom: 0;
}

.blog-post-tags li {
    font-size: 12px;
}

.blog-post-tags li i {
    color: #777;
}

.blog-post-tags ul.blog-info {
    color: #eee;
    margin-bottom: 3px;
}

.blog-post-tags ul.blog-tags a {
    color: #555;
    font-size: 11px;
    display: inline;
    padding: 3px 7px;
    margin-right: 2px;
    background: #f4f4f4;
}

.blog-post-tags ul.blog-tags a:hover {
    background: #72c02c;
}

/*Blog Item Page
------------------------------------*/
.blog-item .media img {
    top: 3px;
    width: 54px;
    height: 54px;
    position: relative;
}

.post-comment h3,
.blog-item .media h3 {
    color: #72c02c;
    font-size: 21px;
    margin-bottom: 25px;
}

.blog-item .media h4.media-heading {
    color: #555;
    font-size: 17px;
    position: relative;
}

.blog-item .media h4.media-heading span {
    top: 3px;
    right: 0;
    color: #777;
    font-size: 12px;
    position: absolute;
}

.blog-item .media h4.media-heading span a {
    color: #72c02c;
}

/*Blog Medium
------------------------------------*/
.blog-medium .blog-info li,
.blog-medium .blog-info li a {
    color: #777;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .blog-medium img {
        margin-bottom: 20px;
    }
}

/*Blog Full Wisth
------------------------------------*/
.blog-full-width .blog-post-tags {
    padding: 5px 0;
}

.blog-full-width ul.blog-info {
    margin-bottom: 0;
}