@model BlogSystem.Web.ViewModels.Pages.PageViewModel

@{
    ViewBag.Title = Model.Title;
}

@if (User.IsAdmin())
{
    <li><i class="fa fa-pencil"></i> <a href="/Administration/Pages/Edit/@Model.Id">Edit</a></li>
}

@Html.Raw(Model.Content)
