body {
    background-image: url('../img/background.jpg') !important;
    background-repeat: no-repeat !important;
    background-color: #000 !important;
    background-position: center top !important;
}

.edit-with-tinymce {
    width: 100%;
    height: 500px;
}

.header {
    background-color: black;
}

.copyright {
    background-color: black;
}

.header .navbar-default .navbar-nav > li > a {
    color: #DDDDDD;
}

.topbar ul.loginbar > li > a, .topbar ul.loginbar > li > a:hover {
    color: #AAAAAA !important;
}

.navbar-collapse {
    margin-bottom: 5px;
    text-align: right;
}

.topbar {
    margin-right: 10px;
    margin-top: 0;
}

.navbar-header {
    height: 80px;
    margin: 0;
}

.navbar-brand {
    margin: 0;
}

.blog-photos li i {
    opacity: 0.6;
    width: 58px;
    height: 54px;
    font-size: 52px;
    margin: 0 2px 8px;
    color: black;
    text-align: center;
}

.blog-photos li i:hover {
	opacity: 1;
	box-shadow: 0 0 0 2px #72c02c;
}

.posts .dl-horizontal dt i {
	width: 60px; 
	height: 60px;
    padding-top: 4px;
	border: solid 1px #ddd;
    font-size: 52px;
    text-align: center;
}

.hidden {
    display: none;
}