@model BlogSystem.Web.ViewModels.Comments.CommentViewModel

<div class="post-comment">
    <h3>Leave a Comment</h3>
    @if (User.IsLoggedIn())
    {
        using (Ajax.BeginForm("Create", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "comments" }))
        {
        @Html.EditorForModel("Comment")
        
        <p>
            @Html.BootstrapBubmitButton("Add Comment");
        </p>
        }
    }
    else
    {
        <p>
            Only registered users can comment.
            @Html.Partial("_PageLoginPartial")
        </p>
    }
</div>
