@model BlogSystem.Web.ViewModels.Home.BlogPostAnnotationViewModel

@if (Model.ImageOrVideoUrl != null)
{
    <div class="blog-img">
        @if (Model.ImageOrVideoUrl.Contains("youtube.com"))
        {
            <div class="responsive-video">
                <iframe src="@Model.ImageOrVideoUrl" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        }
        else
        {
            <img src="@Model.ImageOrVideoUrl" class="img-responsive" alt="@Model.Title" />
        }
    </div>
}
