@using Microsoft.AspNet.Identity
<ul class="loginbar pull-right">
    @if (Request.IsAuthenticated)
    {
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: new { Area = string.Empty }, htmlAttributes: new { title = "Manage" })
        </li>
        <li class="topbar-devider"></li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", new { Area = string.Empty }, FormMethod.Post, htmlAttributes: new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
            }
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { Area = string.Empty }, htmlAttributes: new { id = "registerLink" })</li>
        <li class="topbar-devider"></li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { Area = string.Empty }, htmlAttributes: new { id = "loginLink" })</li>
    }
</ul>