@model BlogSystem.Web.ViewModels.Administration.BlogPosts.BlogPostInputModel

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="Post title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ShortContent"></label>
            <p class="help-block" style="margin: 0 0 5px;">Shown in the post list on the home page.</p>
            @Html.EditorFor(x => x.ShortContent)
            <span asp-validation-for="ShortContent" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content"></label>
            @Html.EditorFor(x => x.Content)
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Publishing</strong></div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="Type"></label>
                    <select asp-for="Type" asp-items="Html.GetEnumSelectList<BlogSystem.Data.Models.BlogPostType>()" class="form-control"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="checkbox" style="margin-bottom: 0;">
                    <label>
                        <input asp-for="IsPinned" /> @Html.DisplayNameFor(x => x.IsPinned)
                    </label>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Media &amp; SEO</strong></div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="ImageOrVideoUrl"></label>
                    <input asp-for="ImageOrVideoUrl" class="form-control" placeholder="https://..." />
                    <span asp-validation-for="ImageOrVideoUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaDescription"></label>
                    <textarea asp-for="MetaDescription" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="MetaDescription" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label asp-for="MetaKeywords"></label>
                    <input asp-for="MetaKeywords" class="form-control" placeholder="keyword1, keyword2" />
                    <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
