@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (this.Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
    </p>
}
